<!DOCTYPE html>

<html>

<head>

<title>Contact</title>
<link rel="icon"
href="{{ url_for('static', filename='images/logo.png') }}"
type="image/png">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="logo">

<img src="{{ url_for('static', filename='images/logo.png') }}" alt="StockVision AI Logo">

<span>StockVision AI</span>

</div>

<div class="container dashboard">

<h1>Contact</h1>

<br>

<p>

👤 Swadhisha

</p>

<p>

📧 swadhishad@gmail.com

</p>

<p>

🎓 B.Sc Artificial Intelligence & Data Science

</p>

<p>

🌍 India

</p>

</div>

</body>

</html>